@page
@model WebRazor.Pages.Cart.IndexModel
@{
    ViewData["PageTitle"] = "Shopping Card";
    if (Model.Cart == null || Model.Cart.Count == 0)
    {
        ViewData["cartSize"] = 0;
    }
    else
    {
        ViewData["cartSize"] = Model.Cart.Count;
    }
}
<div id="cart">
	<div id="cart-title">
		<h3>SHOPPING CART</h3>
	</div>
	<div id="cart-content">
		@if (Model.Cart == null || Model.Cart.Count == 0)
		{
			<div style="padding: 1%;" class="cart-item msg-error">No product in your cart</div>
		}
		else
		{
			@foreach (var item in Model.Cart)
			{
				<div class="cart-item">
					<div class="cart-item-infor">
						<div class="cart-item-img">
							<img src="~/img/1.jpg" />
						</div>
						<div class="cart-item-name">
							<a href="~/Product/Detail/@item.Key.ProductId">@item.Key.ProductName</a>
						</div>
						<div class="cart-item-price">
							@item.Key.UnitPrice $
						</div>
						<div class="cart-item-button">
							<a href="~/Cart/Remove/@item.Key.ProductId">Remove</a>
						</div>
					</div>
					<div class="cart-item-function">
						<a href="~/Cart/Down/@item.Key.ProductId">-</a>
						<a href="~/Cart/Up/@item.Key.ProductId">+</a>
						<input type="text" value="@item.Value" disabled />
					</div>
				</div>
			}
		}
	</div>
	<div id="cart-summary">
		<div id="cart-summary-content">Total amount: <span style="color:red">@Model.Sum $</span></div>
	</div>
	<form method="post">
		<div id="customer-info">
			<div id="customer-info-content">
				<h3>CUSTOMER INFORMATION:</h3>
				<div id="customer-info-detail">
					<div id="customer-info-left">
						<input asp-for="Customer.CompanyName" type="text" placeholder="Company name *" /><br />
						<input asp-for="ContactName" type="text" placeholder="Contact name *" /><br />
					</div>
					<div id="customer-info-right">
						<input asp-for="Customer.ContactTitle" type="text" placeholder="Contact title *" /><br />
						<input asp-for="Customer.Address" type="text" placeholder="Address *" /><br />
					</div>
					<div id="customer-info-left">
						<input asp-for="RequireDate" type="date" placeholder="Require Date" /><br />
					</div>
				</div>
			</div>
		</div>
		<div id="customer-info">
			<div id="customer-info-content">
				<h3>PAYMENT METHODS:</h3>
				<div id="customer-info-payment">
					<div>
						<input type="radio" name="rbPaymentMethod" checked />
						Payment C.O.D - Payment on delivery
					</div>
					<div>
						<input type="radio" name="rbPaymentMethod" disabled />
						Payment via online payment gateway
					</div>
					<div class="msg-error">@ViewData["msg"]</div>
				</div>
			</div>
		</div>

		<div id="cart-order">
			<input style="width: 22%;
				background-color: brown;
				color: #fff;
				margin-bottom: 15px;
				line-height: 40px;
				border-radius: 5px;
				border: none;
				cursor: pointer;" type="submit" value="ORDER" />
		</div>
	</form>
</div>
