@page "{currentPage:int?}"
@model WebRazor.Pages.Admin.Order.IndexModel
@{
	ViewData["PageTitle"] = "Order List";
	var pagingModel = new WebRazor.Helpers.PagingModel()
			{
				currentPage = Model.currentPage,
				countPages = Model.totalPages,
				generateUrl = (int? currentPage) => (Model.dateFrom == default(DateTime) || Model.dateTo == default(DateTime)) ?
					Url.Page("/Admin/Order/Index", new { currentPage = currentPage })
						: Url.Page("/Admin/Order/Index", new { currentPage = currentPage, dateFrom = Model.dateFrom, dateTo = Model.dateTo })

			};
	var dateFrom = Model.dateFrom;
	var dateTo = Model.dateTo;

	ViewData["msg"] = TempData["msg"];
}


<div class="path-admin">ORDERS LIST</div>
<div class="content-main">
	<div id="content-main-dashboard">
		<div id="order-title" style="display: flex;">
			<div>
				<b>Filter by Order date:</b>
				<form method="get">
					From: <input asp-for="dateFrom" type="date" id="dateFrom" onchange="dateChange()" />
					To: <input asp-for="dateTo" type="date" id="dateTo" onchange="dateChange()" />
					<div class="msg-error">@ViewData["msg"]</div>
					<input type="submit" value="Filter">
				</form>
			</div>
			
		</div>

		<div id="order-table">
			@if (Model.orderList == null || Model.orderList.Count < 1)
			{
				<div style="margin: 1% 2%;" class="msg-error">Not found order(s)!</div>
			}
			else
			{
				<table id="orders">
					<tr>
						<th>OrderID</th>
						<th>OrderDate</th>
						<th>RequiredDate</th>
						<th>ShippedDate</th>
						
						<th>Customer</th>
						
						<th>Status</th>
					</tr>
					@foreach (var o in Model.orderList)
					{
						<tr>
							<td><a href="~/Admin/Order/OrderDetails?id=@o.OrderId">@o.OrderId</a></td>
							<td>@o.OrderDate.Value.ToString("dd-MM-yyyy")</td>
							<td>@(@o.RequiredDate == null ? "" : @o.RequiredDate.Value.ToString("dd-MM-yyyy"))</td>
							<td>@(@o.ShippedDate == null ? "" : @o.ShippedDate.Value.ToString("dd-MM-yyyy"))</td>
							
							<td>@o.Customer.ContactName</td>
							
							@foreach (var i in o.OrderDetails)
							{
								@if(i.Discount == 0)
								{
									<td style="color: red;">Penning</td>
								} else
								{
									<td style="color: green;">Complete</td>
								}
								
							}

														
						</tr>
					}
				</table>
			}
		</div>
		<div id="paging">
			<div id="paging">
				<partial name="_Paging" model="@pagingModel" />
			</div>
		</div>
	</div>
</div>

<script>
	function dateChange() {
		var dFrom = document.getElementById("dateFrom").value;
		var dTo = document.getElementById("dateTo").value;
		var link = document.getElementById("exportLink");
		link.href = "Export?dataTable=order&dateFrom=" + dFrom + "&dateTo=" + dTo;
		console.log(link.href);
	}
</script>

