@page
@model WebRazor.Pages.IndexModel
@{
	if (Model.Cart == null || Model.Cart.Count == 0)
	{
		ViewData["cartSize"] = 0;
	}
	else
	{
		ViewData["cartSize"] = Model.Cart.Count;
	}
	String id = HttpContext.Session.GetString("ID");
}
<div id="content-left">
	<h3>CATEGORY</h3>
	<ul>
		@foreach (var item in Model.Categories)
		{
			<a asp-route-id="@item.CategoryId">
			<li>@item.CategoryName</li>
			</a>
		}
		<li>@ViewData["size"]</li>
	</ul>
</div>
@if (id != null)
{
	<a href="./Chat?toUserId=">chat</a>
}

<div id="content-right">

	@if (Model.Products.Count > 0)
	{
		<div class="path">Product</div>

		<div class="content-main">
			@foreach (var item in Model.Products)
			{
				<div class="product">
					<a href="~/Product/Detail?id=@item.ProductId"><img src="~/img/1.jpg" /></a>
					<div style="text-align:center" class="name"><a href="~/Product/Detail?id=@item.ProductId">@item.ProductName</a></div>
					<div style="text-align:center" class="price">@item.UnitPrice</div>
					<a href="/Cart/Add/@item.ProductId">
						<input type="button" value="ADD TO CART" style="background-color: #fff; color:red;border: 1px solid gray;">
					</a>
				</div>
			}
		</div>
	}
	else
	{
		<div class="path">Best Sale</div>
		<div class="content-main">
			@foreach (var item in Model.BestSaleProducts)
			{
				<div class="product">
					<a asp-page="./Product/Detail" asp-route-id="@item.ProductId"><img src="img/1.jpg" /></a>
					<div style="text-align:center" class="name"><a asp-page="./Product/Detail" asp-route-id="@item.ProductId">@item.ProductName</a></div>
					<div style="text-align:center" class="price">@item.UnitPrice</div>
					<a href="/Cart/Add/@item.ProductId">
						<input type="button" value="ADD TO CART" style="background-color: #fff; color:red;">
					</a>
				</div>
			}
		</div>
		<div class="path">New Product</div>
		<div class="content-main">
			@foreach (var item in Model.NewProducts)
			{
				<div class="product">
					<a asp-page="./Product/Detail" asp-route-id="@item.ProductId"><img src="img/1.jpg" /></a>
					<div style="text-align:center" class="name"><a asp-page="./Product/Detail" asp-route-id="@item.ProductId">@item.ProductName</a></div>
					<div style="text-align:center" class="price">@item.UnitPrice</div>
					<a href="/Cart/Add/@item.ProductId">
						<input type="button" value="ADD TO CART" style="background-color: #fff; color:red;border: 1px solid gray;">
					</a>
				</div>
			}
		</div>
	}
</div>